.homeSection {
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
}

.Filters {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
}

.Cards {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  /* para permitir desplazamiento */
}

/* @media (max-width: 768px) {
 .homeSection {
  display: flex;
  flex-direction: column;
 }
} */
