.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 50px 50px;
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 300px;
  /* transform: translateY(200px) translateX(200px); */
}

.cardContainer a {
  text-decoration: none;
  color: #fff;
}

.cardContainer a:hover {
  text-decoration: none;
  color: #969696;
}
