.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  border: none;
  background-color: #14162b;
  border-radius: 4px;
  padding: 5px 20px;
  transition: padding 0.3s ease-in-out;
  cursor: pointer;
}

.pageNumber {
  border: none;
  background-color: #14162b;
  border-radius: 4px;
  padding: 5px;
  transition: padding 0.3s ease-in-out;
  cursor: pointer;
}

.pagination button[disabled],
.active {
  background-color: #ccc !important;
  color: #14162b;
  cursor: default;
}
