.addGameContainer {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 background-color: rgba(16, 18, 27, 0.4);
 backdrop-filter: blur(20px);
 -webkit-backdrop-filter: blur(20px);
 animation: fade-in 6s cubic-bezier(.25, 1, .30, 1) both;
 padding: 0 50px;
 justify-content: center;
 padding: 50px;
}

.addGameFormContainer {
 display: flex;
 flex-direction: column;
 max-width: 800px;
}

@keyframes fade-in {
 from {
  opacity: 0;
 }

 to {
  opacity: 1;
 }
}

.addGameForm {
 display: flex;
 flex-direction: column;
 gap: 18px;
 padding: 50px;
}

.addGameForm input,
.addGameForm textarea {
 padding: 8px 20px;
 border: none;
 background-color: #14162b;
 border-radius: 4px;
 font-size: 15px;
 font-weight: 500;
 box-shadow: 0 0 0 1px rgba(113 119 144 / 25%);
 color: #f9fafb;
}

.addGameForm input::placeholder,
.addGameForm textarea::placeholder {
 font-size: 15px;
 color: rgb(113 119 144 / 78%);
}

.addGameForm input:focus:not(:focus-visible),
.addGameForm textarea:focus-visible {
 outline: none;
}

.genres,
.platforms {
 display: flex;
 flex-direction: column;
 gap: 30px;
 padding: 50px;
 border: none;
 background-color: #14162b;
 border-radius: 14px;
 font-size: 15px;
 font-weight: 500;
 box-shadow: 0 0 0 1px rgba(113 119 144 / 25%);
 color: #f9fafb;
}

.genresPick,
.platformsPick {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}

.sendBtn {
 box-sizing: border-box;
 border: none;
 background-color: #14162b;
 border-radius: 4px;
 padding: 10px 20px;
 transition: scale 0.3s ease-in-out;
}

.sendBtn:disabled {
 background-color: #ccc !important;
 color: #14162b;
 cursor: default;
}

.sendBtn:enabled:hover {
 scale: 1.03;
}

.checkboxSelected {
 background-color: red;
}